<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shivamvk.mindfulsupplier">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAM8x6qYLuBjFKSgVZqEIQuoEfmeTQ0mzw" />
        <meta-data
            android:name="sendotp.key"
            android:value="233650AmGm8ef0C45b811710" />

        <activity
            android:name=".OnBoardingActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".SignInActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="Mindful Supplier">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UploadActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".UploadPOD"
            android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>